@use "../utils";

$container-width-xl: 1260px;
$container-width-lg: 970px;
$container-width-md: 750px;
$container-width-sm: 550px;
$container-width-xsm: auto;

.container {
  width: $container-width-xl;
  height: 100%;
  margin: 0 auto;

  @include utils.breakpoint(lg) {
    width: $container-width-lg;
  }
  @include utils.breakpoint(md) {
    width: $container-width-md;
  }
  @include utils.breakpoint(sm) {
    width: $container-width-sm;
  }
  @include utils.breakpoint(xsm) {
    padding: 0 20px;
    margin: 0;
    width: $container-width-xsm;
  }
}
