html,
body {
  height: 100vh;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
